@layer components {
    ._button {
        @apply inline-flex items-center px-4 py-2 
        font-semibold text-xs uppercase tracking-widest
        border border-transparent rounded-md 
        focus:outline-none focus:ring-2 focus:ring-offset-2 
        transition ease-in-out duration-150;
    }

    ._primary-button {
        @apply 
        _button
        text-white
        bg-green-500  
        hover:bg-green-400 
        focus:bg-green-400 
        active:bg-green-600  
        focus:ring-green-200;
    }
    
    ._secondary-button {
        @apply 
        _button 
        text-white
        bg-blue-500  
        hover:bg-blue-400 
        focus:bg-blue-400 
        active:bg-blue-600  
        focus:ring-blue-200;
    }
    
}